@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
/* This is applicable over all website */
*{
    box-sizing: border-box;
    padding:0;
    margin:0;
    font-family: 'Roboto Slab', serif;    
}
html{
    scroll-behavior: smooth;
    background-color: #ececec; 
    width:100%;
}
#back{
    --nav-height:4.6rem;

    padding-top: var(--nav-height);
}
.nav{
    width:100%;
    height: var(--nav-height);
    position: fixed;
    left:0;
    top:0;
    transition: transform 0.4s;
    z-index: 1;
}
.nav--hidden{
    transform:translateY(calc(-1 * var(--nav-height)));
    box-shadow: none;
}
/* end of universal selector */
#back{
    height:100vh;
    width:100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(gaming.jpeg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin-bottom: 5rem;
}

.logo{
    font-size:2rem;
    color:white;
    /* padding-left:2rem; */
}
.logo span{
    color:red;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding:2% 5%;
    background-color: rgba(15, 10, 10, 0.9);
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding:0 1.5rem;
    position: relative;
}
nav ul li a{
    color:white;
    text-decoration: none;
    font-weight: 200;
    font-size: 1rem;
    cursor: pointer;
}
nav ul li ::after{
    content:'';
    width:0%;
    height:0.125rem;
    background:#ea1538;
    display:block;
    margin:auto;
    transition: 0.5s;
}
nav ul li :hover::after{
    width:100%;
}

/* nav .current{
    color:#ea1538;
    font-weight: bold;
} */
.text  {
    text-align: center;
    padding-top:13rem;
}
.text p{
    color:white;
    font-size: 1.5rem;
}
.text h2{
    margin-top:1.5rem;
    color:White;
    font-size: 2.5rem;
}
.text button{
    margin-top:2rem;
    background-color: #ea1538;
    color:white;
    font-size:1rem;
    padding:5px 12px;
    border:none;
    border-radius: 1.5rem;
    cursor:text;
}

/* Media query */
@media screen and (max-width:1024px){

}
@media screen and (max-width:768px){

}
@media screen and (max-width:420px){
    nav {
        display: block;
        padding:1rem 0.5rem;
    }
}
/* Header section ends here */

.divide{
    display: flex;
    align-items: center;
    justify-content:center;
    margin-bottom: 7rem;
    animation:mymove 3s infinite;
}
#intro img{
    margin:0.31rem;
    padding:0.37rem;
    /* border-style: solid;
    border-width:4px;
    border-color: red green blue black; */
    border:0.25rem solid red;
    margin-right: 7rem;
    /* border-radius: 5px; */
}
.te h4{
    margin-top:2rem;
    font-size:2rem;
    font-weight: 200;
    padding-bottom: 1rem;
}
.te h6{
    font-size:1rem;
    color:#ea1538;
    font-weight: 200;
}
.te p{
    color:rgb(76, 73, 73);
}
.te i{
    margin:0.5rem 0.187rem 0.5rem 0rem;
}
@media(max-width:700px){
    .divide{
        flex-direction: column;
    }
}

/* Education section starts from here */
.part{
    margin-top:2rem;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 2rem;
}
.part1{
    padding-top:0.625rem;
    width:30%;
    background-color: #f2f6f6;
    align-items: center;
    margin:auto;
    text-align: center;
    border-radius: 0.125rem;
    transition: 0.4s;
    box-shadow: 0 0 1.25rem 0rem rgba(0, 0, 0, 0.2);
}
.part1:hover{
    box-shadow: 0 0 1.25rem 0rem rgba(0, 0, 0, 0.4);
}
.part1 h2 span{
    font-weight: 200;
    font-size:1.25rem;
    background-color: #ea1538;
    color:white;
    padding:0.125rem 0.312rem;
    border-radius: 0.125rem;
    text-align: left;
}
.part1 h2{
    font-weight: 200;
    padding-bottom: 0.18rem;
    text-align: left;
}
.part1 h3{
    color:#ea1538;
    font-weight: 200;
    font-size: 1rem;
    padding-bottom: 0.31rem;
    /* text-align: left; */
}
.part1 p{
    padding-bottom: 0.5rem;
}
/* End of Education seciton */

/* Start of Hobbies */
#hobbies{
    background-color: #ececec;
}
.new{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}
.pp{
    height: 40vh;
    width:100%;
    transition: all 1s ease-in-out;
    border-radius: 0.4rem;
}
.pp:hover{
    transform: scale(1.06);
}
.img-box{
    background-color: rgb(255, 255, 255);
    width:21.87rem;
    height:28.125rem;
    border:0.43rem solid rgb(255, 255, 255);
    border-radius: 0.7rem;
    overflow: hidden;
}
.img-box figcaption{
    padding:0.625rem 0.31rem 0.31rem;
    font-weight: 600;
    font-size:1.25rem;
}
.img-box p{
    padding:0.43rem;
    text-align: justify;
}
/* End of Hobbies */

/* Start of Contact me */
.contact-me {
    display: flex;
    justify-content: space-around;
}
.contact-me .fa{
    font-size: 2rem;
    color:#f44336;
    margin-bottom: 0.625rem;
    margin-right:1.25rem;
}
.me div{
    display: flex;
    align-items: center;
    margin-bottom: 2.5rem;
}
.me h5{
    font-size: 1.25rem;
    margin-bottom: 0.3125rem;
    color:#555;
    font-weight:400;
    
}
.me p{
    color:#777;
    font-size:1rem;
}
.me form{
        text-align: center;
}
.me input, .me textarea{
    width:60%;
    padding:1rem;
    margin-bottom: 1rem;
    outline:none;
    border:1px solid #ccc;
}
.me .but{
    background-color: white;
    color:red;
    border:1px solid red;
    border-radius: 4.375rem;
    width: 9.375rem;
    transition: 0.2s;
    padding:1rem 1.375rem;
}
.me .but:hover{
    background-color:red;
    cursor: pointer;
    color:white;
}
/* Footer starts */
.me footer .fa-linkedin-square{
    color:#0A66C2;
    font-size: 2rem;
    text-decoration: none;
    padding:0.625rem 0rem;
    padding-left:0.625rem;
}
.me footer .fa-facebook{
    color:#3b5998;
    text-decoration: none;
    font-size:1.75rem;
}
.me footer .fa-instagram{
    color:red;
    text-decoration: none;
    font-size: 2rem;
}
.me footer p{
    color:black;
}
.me footer h3{
    /* padding-top:70px; */
    font-size: 1rem;
    font-weight: 400;
}